.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = link_to moment.user.user_name, profile_path(moment.user.user_name)
      .time-ago
        = time_ago_in_words moment.created_at
    .image.center-block
      = link_to (image_tag moment.image.url(:medium), class:'img-responsive'), moment_path(moment)
  .post-bottom
    = render 'moments/likes', moment: moment
    .caption
      .caption-content
        .user-name
          = moment.user.user_name
        = moment.caption
      .comments{id: "comments_#{moment.id}"}
        - if moment.comments.any?
          .paginator{id: "#comments-paginator-#{moment.id}"}
            - unless moment.comments.count <= 4
              = link_to "view all #{moment.comments.count} comments", moment_comments_path(moment), remote: true, class: 'more-comments', data: {moment_id: "#{moment.id}", type: "html"}
          = render moment.comments.last(4), moment: moment
  .comment-like-form.row
    .col-sm-1.like-button
      = link_to '', like_moment_path(moment.id), remote: true, id: "like_#{moment.id}", class: "glyphicon #{liked_moment moment}"
    .comment-form.col-sm-11
      = form_for([moment, moment.comments.build], remote: true) do |f|
        = f.text_field :content, placeholder: 'Add acomment...', class: "comment_content", id: "comment_content_#{moment.id}"